.VideoHistory__container {
    padding-left: 2em;
}

.VideoHistory__list {
    display: flex;
    flex-direction: column;
}

.VideoHistory__row {
    display: flex;
    justify-content: space-between;
}

.VideoHistory__row a {
    cursor: pointer;
    text-decoration: underline;
    white-space: nowrap;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.VideoHistory__row button {
    cursor: pointer;
    border: none;
    box-shadow: none;
    margin: 1em;
    background-color: red;
    color: white;
}